.profile__info {
  max-width: 45%;
  display: grid;
  grid-template-columns: max-content min-content;
  row-gap: 16px;
  column-gap: 18px;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 980px) {
    .profile__info {
      grid-column-gap: 10px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .profile__info {
      max-width: 100%;
      grid-row-gap: 14px;
      margin-top: 22px;
      margin-bottom: 33px;
    }
  }